﻿@model Blog4.Models.Comment
@using (Html.BeginForm("Create", "Comment", FormMethod.Post, new{id="my-form"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Bình luận</legend>


        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>
        @Html.Hidden("idpost", ViewData["idpost"])

        <p>
            <input type="submit" value="Đăng" />
        </p>
    </fieldset>
}

<script src="~/Scripts/addComments.js"></script>

