﻿@model Blog4.Models.Post

@{
    ViewBag.Title = "Chi tiết bài viết";
}

<h2>Chi tiết bài viết</h2>

<fieldset>
    <legend>Bài viết</legend>

    <div class="display-label">
         <h4>@Html.DisplayNameFor(model => model.Title)</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
        <h4>@Html.DisplayNameFor(model => model.Body) </h4>
</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
        <h4>@Html.DisplayNameFor(model => model.DateCreated) </h4>
</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
        <h4>Đăng bởi @Html.DisplayNameFor(model => model.UserProfile.UserName) </h4>
</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
@Html.Partial("_addComment", new Blog4.Models.Comment(), ViewData);

<fieldset>
    <legend>Các bình luận trước</legend>
    <div id="result">
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
    {
        <div class="display-field">
            <h2>@Html.DisplayFor(x => comment.Body)</h2>
        </div>
        
        <div class="display-field">
             Bởi: @Model.UserProfile.UserName
             , cách đây: @Html.DisplayFor(x => comment.LastTime) phút
        </div>

       
    }
    </div>
</fieldset>

<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Trở lại danh sách bài viết", "Index")
</p>
