﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-5">
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>


<body>
   

    
        <div id="meta">
            <span><img src="http://localhost:52311/images/meta1.gif" alt="" width="15" height="15" /> <a href="http://localhost:52311/">Trang chủ</a></span>
            <span><img src="http://localhost:52311/images/meta2.gif" alt="" width="15" height="15" /> <a href="index2.html">Liên hệ</a></span>
        </div>
        <div id="menu">
            
            @Scripts.Render("~/bundles/modernizr")
            <ul>
                <li><a href="http://localhost:52311/" class="active"><img src="http://localhost:52311/images/but1.gif" alt="" width="104" height="36" /></a></li>
                <li><a href="index2.html"><img src="http://localhost:52311/images/but2.gif" alt="" width="101" height="36" /></a></li>
                @*<li><a href="http://localhost:52311/post/index"><img src="images/but3.gif" alt="" width="66" height="36" /></a></li>
                <li><a href="index2.html"><img src="images/but4.gif" alt="" width="115" height="36" /></a></li>
                <li><a href="index2.html"><img src="images/but5.gif" alt="" width="93" height="36" /></a></li>*@
                <li><a href="index2.html"><img src="http://localhost:52311/images/but6.gif" alt="" width="114" height="36" /></a></li>
            </ul>
        </div>
        <div id="content">
            <div class="navigation">
                <ul>
                    <li><a href="http://localhost:52311/Account/Manage">Quản lý tài khoản</a></li>
                    <li><a href="http://localhost:52311/Tag/Index">Tag</a></li>
                    <li><a href="http://localhost:52311/post/index">Bài viết</a></li>
                    <li><a href="#">Hình ảnh</a></li>
                    <li><a href="#">Cửa hàng</a></li>
                </ul>
               
            </div>
            <div class="center">
                <div class="welcome">
                    <span>Aenean mturpis. Maecenas hendrerit masa laoreet iaculipede mnisl ulamcorper. </span>
                </div>
                <div>
                    @RenderBody()
                </div>
                <br />
                <br />
                <br />
                <pre style="margin:0px;padding:0px"></pre>
            </div>
            <div class="news_events">
                <img src="http://localhost:52311/images/title2.gif" alt="" width="258" height="21" /><br />
                <img src="http://localhost:52311/images/home1.png" alt="" width="217" height="144" class="latest" /><br />
                <img src="http://localhost:52311/images/title3.gif" alt="" width="258" height="22" /><br />

            </div>
            <img src="http://localhost:52311/images/phone.jpg" alt="" width="953" height="87" /><br />
        </div>
        <div id="footer">
            <div>
                <a href="http://localhost:52311/">Trang chủ</a> | <a href="index2.html">Giới thiệu</a> | <a href="index2.html">Liên hệ</a>
            </div>
        </div>
        <div id="copyright">
            Copyright &copy;. All rights reserved. Design by <a href="http://www.bestfreetemplates.info" target="_blank" title="Best Free Templates">BFT</a>
        </div>
    
  
    <div class="float-right">
        <section id="login">
            @Html.Partial("_LoginPartial")
        </section>
        </div>

    @RenderSection("scripts",required:false)
</body>
</html>
