﻿@model Blog4.Models.Tag

@{
    ViewBag.Title = "Chi tiết Tag";
}

<h2>Chi tiết</h2>

<fieldset>
    <legend>Tag</legend>

    <div class="display-label">
         <h4>@Html.DisplayNameFor(model => model.Content)</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Trở về danh sách Tag", "Index")
</p>
